*, *:before, *:after {
  box-sizing: inherit;
}
html { 
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.browser {
  min-width: 912px;
  min-height: 512px;
  border: 1px solid #00000054;
  border-radius: 4px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.top {
  height: 48px;
  background-color: #00000034;
  position: relative;
}
.svgRound {
	justify-content: column;
}
.sistem {
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 50%;
  margin: 5px;
}
.sistem:first-child {
	fill: red;
}
.sistem:nth-child(2n) {
	fill: orange;
}
.sistem:nth-child(3n) {
	fill: green;
}
.spanLeo {
	font-size: 14px;
	font-weight: 600;
	position: absolute;
	top: 17px;
	right: 10px;
}
.topLightgray {
	height: 48px;
  	background-color: #e8eae9;
  	position: relative;
}
.grayTop {
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	}
.input {
	flex: 1;
}
.grayTop .input .inputP{
	background-image: url("../img/svg/image-i.svg")
	background-repeat: no-repeat;
	width: 750px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.gray {
	fill: lightgray;
}
.main {
	width: 90%;
	margin: 0 auto;
}
.mainH {
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
	padding: 25px 0px;
}
.container {
	display: flex;
	justify-content: column;
	width: 100%;
	margin: 0 auto;
}
.item {
  margin-bottom: 4px;
  margin-right: 25px;
  width: calc(100% / 4 - 5px);
}
.itemItem {
	display: flex;
	justify-content: flex-start;
   -ms-align-items: center;
    align-items: center;
    color: blue;
}